<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whatsappfaq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.whatsappfaq.SearchActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.whatsappfaq.ReturnSearchActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.whatsappfaq.SearchActivity"
            android:noHistory="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whatsappfaq.SearchActivity" />
        </activity>
        <activity
            android:name="com.whatsappfaq.EmailActivity"
            android:label="@string/title_activity_email" 
            android:parentActivityName="com.whatsappfaq.SearchActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whatsappfaq.SearchActivity" />
        </activity>
    </application>

</manifest>